.git
.github
.venv*
**/__pycache__
**/*.py[cod]
build
dist
release
tools
tests
gui
external/Auto-Backpork
external/ampr_emu/src
external/ampr_emu/ps5
*.spec
*.ps1
*.sh
!docker/entrypoint.sh
state.json
